.materialselect{
	display:none;
	background-color: white;
}
.materialselect button{
	background-color: #562351;
	display:inline;
	width:18%;
	height:60px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left:10px;
	margin-right:10px;
	border-style:none;
	color:white;
	box-sizing: border-box;
	padding:0px 0px 0px 0px;
}

.materialselect .level2,.level3{
	display:none;
}

#closematerialselect, #closematerialupload{
	position:absolute;
	top:0px;
	right:0px;
	z-index: 99999;
	display: block;
	width:20px;
	margin-right:5px;
	margin-top:5px;
}

#closematerialselect:hover, #closematerialupload:hover{
	width:22px;
}

.tempbuttons{
	width:50%;
	background-color:white;
	border:1px solid rgb(71,71,71);
	color:rgb(71,71,71);
	margin:0px 0px 0px 0px;
}