#signupform input{
	width:45%;
	font-size:18px;
	border-style:none;
	border-bottom:1px solid rgb(71, 71, 71);
	display:inline-block;
	background-color: rgba(0, 0, 0, 0);
	margin:10px 2.4% 10px 2.4%;
	padding: 4px;
}

#userimage{
	display:block;
}

#submitbutton{
	background-color:#562351;
	border-style:none;
	color:white;
	font-size:16px;
	margin-left:auto;
	margin-right:auto;
	padding: 10px 18px 10px 18px;
}

#submitbutton:hover{

}